@import url('https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon:ital@0;1&family=Rubik+Distressed&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    background-image: url(map.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.title{
    margin: 50px 500px;
}
.project__images{
    margin: 50px 700px;
    padding: 50px;
}
h1{ 
    font-size: 50px;
    text-align: center;
    background-color: rgba(197, 162, 141, 0.308);
    border-radius:20px ;
    color: white;
    border-bottom: solid rgba(247, 247, 247, 0.295) 3px;
    border-top: solid rgba(247, 247, 247, 0.295) 3px;
    padding: 50px;
}
.info{
    background: #d1a677;
    background: linear-gradient(0deg,rgba(209, 166, 119, 1) 0%, rgba(255, 233, 204, 1) 100%);
    padding: 50px;
    margin: 100px 200px;
    font-size: 20px;
    border-radius: 20px;
    border-bottom: solid rgb(138, 109, 73) 3px;
    border-top: solid rgb(255, 255, 255) 3px;
}
button{
    background: #d1a677;
    background: linear-gradient(0deg,rgba(209, 166, 119, 1) 0%, rgba(255, 233, 204, 1) 100%);
    border-bottom: solid rgb(138, 109, 73) 3px;
    border-top: solid rgb(255, 255, 255) 3px;
}
h1,.info,h2,p{
    font-family: "IM Fell French Canon", serif;
    font-weight: 400;
    font-style: normal; 
}
.project__images{
    margin: 100px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    background-color: black;
    overflow-x:hidden;
}
.image__placeholder,.projects__project{
    padding: 20px;
    border-radius: 20px;
    background: #dea295;
    background: linear-gradient(180deg,rgba(222, 162, 149, 1) 0%, rgba(133, 86, 78, 1) 100%);
    transition: .5s;
    cursor: zoom-in;
}
.projects{
    background-color: black;
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: center;
    align-items: center;
    padding: 50px;
    flex-wrap: wrap;
}
.home{
    writing-mode: vertical-lr;
}
.navigation{
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-color: rgba(197, 162, 141, 0.308);
    padding: 5px;
    display: flex;
    justify-content: center;
    border-radius: 0 0 20px 20px;
    border-bottom: solid rgba(247, 247, 247, 0.295) 3px;
    z-index: 1;
}
.scroll{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.scroll__button, .home{
    padding: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    border-radius: 20px;
    border-top: solid;
    border-bottom: solid;
    border-left: none;
    border-right: none;
    transition: .25s;
    background-color: rgb(255, 230, 200);
    font-size: 15px;
    font-family: "IM Fell French Canon", serif;
    font-weight: 1000;
    width: 80px;
    height: 80px;
    border-bottom: solid rgb(138, 109, 73) 3px;
    border-top: solid rgb(255, 255, 255) 3px;
    cursor: pointer;
}
.scroll__button:hover{
    background: #a9e4e8;
    background: linear-gradient(180deg,rgba(169, 228, 232, 1) 0%, rgba(31, 151, 181, 1) 100%);
    border-bottom: solid rgb(34, 114, 101) 3px;
    border-top: solid rgb(255, 255, 255) 3px
}
.home:hover{
    background: #a9e4e8;
    background: linear-gradient(180deg,rgba(169, 228, 232, 1) 0%, rgba(31, 151, 181, 1) 100%);
    padding: 60px;
    border-bottom: solid rgb(34, 114, 101) 3px;
    border-top: solid rgb(255, 255, 255) 3px;
}
.projects__project:hover{
    background: #b5a9e8;
    background: linear-gradient(180deg,rgba(181, 169, 232, 1) 0%, rgba(109, 96, 130, 1) 100%);
    cursor: pointer;
    border-bottom: solid rgb(54, 70, 99) 3px;
    border-top: solid rgb(184, 222, 253) 3px;
    transform: scale(1.1);
    transition: .5s;
}
.projects__project{
    padding: 20px 20px;
    border-radius: 20px;
    border-bottom: solid rgb(99, 60, 54) 3px;
    border-top: solid rgb(253, 192, 184) 3px;
    transition: .5s;
}
.project__thubnails{
    width: 500px;
    height: 300px;
    transition: 1s;
    border-radius: 20px;
    object-fit: cover;
}
.image__placeholder:hover{
    transform: scale(1.1);
    transition: .5s;
}
h2{
    margin: 20px 0;
    font-size: 30px;
}
p{
    margin-top: 15px;
    font-size: 20px;
}