@import url('https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon:ital@0;1&family=Rubik+Distressed&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    background-image: url(map.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
h1,.project__images{
    margin: 50px 700px;
    padding: 50px;
}
h1{ 
    font-size: 50px;
    text-align: center;
    background-color: rgba(197, 162, 141, 0.308);
    border-radius:20px ;
    color: white;
}
.info{
    background-color: rgb(253, 235, 223);
    padding: 50px;
    margin: 100px 200px;
    font-size: 20px;
    border-radius: 20px;
}
h1,.info{
    font-family: "IM Fell French Canon", serif;
    font-weight: 400;
    font-style: normal; 
}
.project__images{
    margin: 100px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    background-color: black;
    overflow-x:hidden;
}
.image__placeholder,.projects__project{
    padding: 140px 240px;
    background-color: rgb(170, 235, 255);
}
button{
    width: 80px;
    height: 80px;
}
.projects{
    background-color: black;
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: center;
    align-items: center;
    padding: 50px;
    flex-wrap: wrap;
}
.home{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50px;
    height: 50px;
    background-color: aqua;
    writing-mode: vertical-lr;
}
.navigation{
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-color: rgba(0, 0, 0, 0);
    padding: 25px;
    display: flex;
    justify-content: center;
}
.scroll{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.scroll__button{
    padding: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    border-radius: 20px;
    border: none;
    transition: .25s;
}
.scroll__button:hover{
    background-color: rgb(255, 228, 202);
    transition: .25s;
}
.projects__project:hover{
    padding: 190px 290px;
    transition: 1s;
}
.projects__project{
    transition: 1s;
}
